<div class="pocetna-container">           
  <article>
   <h1><span class="naslov">O školi</span></h1>   
    <p>
       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
       in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." Donec fermentum est nunc, eu feugiat mi dapibus
       vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    </p>
    <img src="../assets/images/pic2.jpg" class="skolaPic"  alt="skola_slika" width="65%" height="330px" />
    <div class = "ispodSlike">
       <span class="rvreme"><strong>Radno vreme:</strong> Svakim radnim danom i subotom od 8h do 18h<br/>
       <strong>Adresa:</strong> Đerdapska 61, Niš</span>
    </div>
  </article>
   
</div>