<nav class= "navbar navbar-expand-lg navbar-dark bg-secondary">
  <img src="../assets/images/castle.png" width="45px" height="50px" alt="castle image" class="mr-3 my-lg-0"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
     <span class="navbar-toggler-icon"></span>
    </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item bb"><a class="nav-link" routerLink="home">Početna</a></li>
      <li class="nav-item bb"><a class="nav-link" routerLink="courses">Kursevi</a></li>
      <li class="nav-item bb"><a class="nav-link" routerLink="teachers">Nastavnici</a></li>      
    </ul>
    
    <div class="dropdown">
      <button type="button" class="btn btn-info dropdown-toggle mr-4" data-toggle="dropdown">
       Zakazivanje
      </button>
      <div class="dropdown-menu">
        <a class="nav-link bb" routerLink="upis">Prijavi se na kurs</a>
        <a class="nav-link bb" routerLink="ispis">Otkazi prijavu</a>     
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

