<form>
  <div class="container4">
   <h2 class= "stilNaslov">Prijavi se na kurs</h2>
  </div>

  <div class="container1">
   <label><b>Ime</b></label>
   <input type="text" placeholder="Unesite Vaše ime" name="ime" [(ngModel)]="student.ime"/>

  <label><b>Prezime</b></label>
  <input type="text" placeholder="Unesite Vaše prezime" name="prez" [(ngModel)]="student.prezime"/>

  <label><strong>Email adresa</strong></label>
  <input type="text" placeholder="Unesite Vašu email adresu" name="mejl" [(ngModel)]="student.email"/>  

  <label class="desno"><strong>Kurs:</strong></label>
 
  <select  name="sel" class='form-control col-sm-5' [(ngModel)]="student.kurs">  
        <option value="null" disabled selected>Kursevi</option>      
        <option *ngFor="let kurs of courses$ | async" name="opt" value= {{kurs.ime}}>{{kurs.ime}}</option>          
  </select>  
  
  
  <button type="button" class="btn btn-primary prijavibtn" (click)="onAddStudent(student)">Upiši me</button>

 </div>
</form>