.txt-stil {
    font-size: 14px;  
    font-weight: normal;
}

.txt-stil2 {
    font-size: 14px;  
    font-weight: normal;
    text-decoration: underline;
}

.txt-stil3 {
    font-size: 14px;  
    font-weight: bold;
 
}



.donjiDeo {
    background-color: #A9C7C7;
    position:relative;  
    height:570px;
 
}


.divTeach {
    width:200px;
    height: 150px;
    font-weight: bold;
    font-size: 20px;  
    text-align: center;
    vertical-align: middle;    
    border:1px solid black;
    float:left;
    background-color:#669999;
    margin:5% 2% 5% 5%;
    cursor: none;
}



